In [1]:
import pandas as pd

In [2]:

import pandas as pd 
import codecs
with codecs.open('hotels.csv','r',encoding='ISO-8859-1') as f:
    df=pd.read_csv(f)

In [3]:
df.head()

,countyCode,countyName,cityCode,cityName,HotelCode,HotelName,HotelRating,Address,Attractions,Description,FaxNumber,HotelFacilities,Map,PhoneNumber,PinCode,HotelWebsiteUrl
0,AL,Albania,106078,Albanien,1003300,De Paris Hotel,FourStar,Nr. 7 Brigada Viii Street Tirane,NaN,Hotel de Paris is a charming boutique hotel th...,42268822,Private parking Parking onsite Television in c...,41.32213|19.81665,00355 4226 5009,1000,https://www.booking.com/hotel/al/de-paris.html
1,AL,Albania,106078,Albanien,1003301,Hotel Green,FourStar,Rruga Kavajes. Kombinat Km 2. Vaqarr VaqarrTir...,NaN,"Located in a suburb of Tirana, Hotel Green is ...",35548520058,airport pick up wifi available in all areas Ai...,41.30413|19.74703,+35548520057,1041,https://www.booking.com/hotel/al/hotel-green.html
2,AL,Albania,106078,Albanien,1003302,Theranda Hotel,ThreeStar,Rr. Andon Zako Cajupi Villa 6 & 7 Villa 6 & 7T...,NaN,"Set in Tirana, 1.2 km from Skanderbeg Square, ...",00355 (0)42273689,face masks for guests available all plates cu...,41.3216|19.81199,00355 (0)42273766,1019,https://www.booking.com/hotel/al/theranda.html
3,AL,Albania,106078,Albanien,1003303,Seven Hotel,ThreeStar,"KAVAJA STREET, CLOSE TURKISH AMBASSY TIRANA",Skanderbeg Square: within 500 metre,This hotel enjoys an enviable setting in Tiran...,NaN,À la carte dinner Breakfast buffet Breakfast C...,41.328027|19.815052,NaN,1001,http://www.hotelseven-tirana.com/
4,AL,Albania,106078,Albanien,1003325,Viktoria,ThreeStar,Rruga E Elbasanit Km 4 Sauk SaukTirana,NaN,Located in a new residential area at the edge ...,+355695406986,internet services Ironing service Family rooms...,41.29125|19.85349,355 69 5406986,1000,https://www.booking.com/hotel/al/viktoria-sauk...

In [4]:
df.columns = df.columns.str.strip()

df=df.drop(columns=['countyCode','cityCode','HotelCode','Attractions','Description','FaxNumber','HotelFacilities','PinCode','HotelWebsiteUrl'])

In [5]:
df.head()

,countyName,cityName,HotelName,HotelRating,Address,Map,PhoneNumber
0,Albania,Albanien,De Paris Hotel,FourStar,Nr. 7 Brigada Viii Street Tirane,41.32213|19.81665,00355 4226 5009
1,Albania,Albanien,Hotel Green,FourStar,Rruga Kavajes. Kombinat Km 2. Vaqarr VaqarrTir...,41.30413|19.74703,+35548520057
2,Albania,Albanien,Theranda Hotel,ThreeStar,Rr. Andon Zako Cajupi Villa 6 & 7 Villa 6 & 7T...,41.3216|19.81199,00355 (0)42273766
3,Albania,Albanien,Seven Hotel,ThreeStar,"KAVAJA STREET, CLOSE TURKISH AMBASSY TIRANA",41.328027|19.815052,NaN
4,Albania,Albanien,Viktoria,ThreeStar,Rruga E Elbasanit Km 4 Sauk SaukTirana,41.29125|19.85349,355 69 5406986

In [6]:
usa=df[df['countyName']=='United States']
usa.head()

,countyName,cityName,HotelName,HotelRating,Address,Map,PhoneNumber
866143,United States,"Abbeville, Louisiana",Sunbelt Lodge Motel,TwoStar,1903 Veterans Memorial Drive AbbevilleLouisian...,29.9806|-92.11452,+13378981453
866144,United States,"Abbeville, Louisiana",Budget Inn & Suites,TwoStar,2115 Charity Street AbbevilleLouisiana 70510,29.97315|-92.11281,1-337-8989770
866145,United States,"Abbeville, Louisiana",Best Western Abbeville Inn & Suites,TwoStar,3515 Veterans Memorial Dr Abbeville AbbevilleL...,29.967878|-92.08536,1-337-740-4100
866146,United States,"Abbeville, Louisiana",Motel 6 Abbeville LA,TwoStar,3523 Veterans Memorial Drive AbbevilleLouisian...,29.968056|-92.08443,+1 337 898 3180
866147,United States,"Abbeville, Louisiana",Days Inn by Wyndham Abbeville,TwoStar,730 Veterans Memorial Dr AbbevilleLouisiana 70...,29.981226|-92.12469,1-337-7404666

In [35]:
usa['HotelRating'].value_counts()

HotelRating
TwoStar      49111
ThreeStar    45174
All          30186
FourStar     12724
OneStar       1646
FiveStar      1027
Name: count, dtype: int64

In [36]:
# usa_OneStar.head()
# usa_OneStar = usa_OneStar.reset_index()


# usa_OneStar=usa[usa['HotelRating']=='OneStar']
# usa_TwoStar=usa[usa['HotelRating']=='TwoStar']
# usa_ThreeStar=usa[usa['HotelRating']=='ThreeStar']
# usa_fourStar=usa[usa['HotelRating']=='FourStar']
# usa_FiveStar=usa[usa['HotelRating']=='FiveStar']


# usa_OneStar.to_csv('usa_OneStar.csv', index=True)
# usa_TwoStar.to_csv('usa_TwoStar.csv', index=True)
# usa_ThreeStar.to_csv('usa_ThreeStar.csv', index=True)
# usa_fourStar.to_csv('usa_fourStar.csv', index=True)
# usa_FiveStar.to_csv('usa_FiveStar.csv', index=True)

In [7]:
split_data = usa['cityName'].str.split(',', expand=True)
# usa.loc[:, 'state'] = split_data[1]

usa['state']=split_data[1]
usa.head()

/tmp/ipykernel_36852/3726732870.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa['state']=split_data[1]

,countyName,cityName,HotelName,HotelRating,Address,Map,PhoneNumber,state
866143,United States,"Abbeville, Louisiana",Sunbelt Lodge Motel,TwoStar,1903 Veterans Memorial Drive AbbevilleLouisian...,29.9806|-92.11452,+13378981453,Louisiana
866144,United States,"Abbeville, Louisiana",Budget Inn & Suites,TwoStar,2115 Charity Street AbbevilleLouisiana 70510,29.97315|-92.11281,1-337-8989770,Louisiana
866145,United States,"Abbeville, Louisiana",Best Western Abbeville Inn & Suites,TwoStar,3515 Veterans Memorial Dr Abbeville AbbevilleL...,29.967878|-92.08536,1-337-740-4100,Louisiana
866146,United States,"Abbeville, Louisiana",Motel 6 Abbeville LA,TwoStar,3523 Veterans Memorial Drive AbbevilleLouisian...,29.968056|-92.08443,+1 337 898 3180,Louisiana
866147,United States,"Abbeville, Louisiana",Days Inn by Wyndham Abbeville,TwoStar,730 Veterans Memorial Dr AbbevilleLouisiana 70...,29.981226|-92.12469,1-337-7404666,Louisiana

In [8]:
usa=usa.dropna()
usa.isnull().sum()


# df.isnull().sum()

countyName     0
cityName       0
HotelName      0
HotelRating    0
Address        0
Map            0
PhoneNumber    0
state          0
dtype: int64

In [9]:
usa_junk=usa[usa.isnull().any(axis=1)]
usa_junk.head()

Empty DataFrame
Columns: [countyName, cityName, HotelName, HotelRating, Address, Map, PhoneNumber, state]
Index: []

In [10]:
# # usa_OneStar.to_csv('usa_OneStar.csv', index=True)
# usa_junk=usa_junk.reset_index(drop=True)
# usa_junk.to_csv('usa_junk.csv',index=True)

In [11]:
# usa.dropna()

In [42]:
usa['state'].value_counts()

state
   Florida                 16032
   California               9617
   Texas                    7744
   Hawaii                   4023
   New York                 3449
   North Carolina           3333
   Georgia                  3216
   Maryland                 2899
   Colorado                 2866
   Pennsylvania             2754
   Tennessee                2754
   Illinois                 2476
   South Carolina           2448
   Ohio                     2396
   Arizona                  2225
   Virginia                 2081
   Michigan                 2000
   Washington               1828
   Oregon                   1824
   Missouri                 1793
   Minnesota                1747
   Massachusetts            1711
   Alabama                  1607
   Wisconsin                1496
   Louisiana                1452
   New Jersey               1437
   Indiana                  1303
   Utah                     1268
   New Mexico               1243
   Mississippi              1093
   Iowa                     1077
   Oklahoma                 1012
   Kentucky                  995
   Arkansas                  889
   Kansas                    882
   Nevada                    666
   Connecticut               635
   Montana                   591
   New Hampshire             557
   Vermont                   506
   Wyoming                   499
   Idaho                     459
   Nebraska                  456
   West Virginia             448
   District of Columbia      447
   South Dakota              434
   Alaska                    412
   Rhode Island              397
   North Dakota              297
   Delaware                  232
 Hawaii County               149
   Maine                      67
   MISSOURI                    1
Name: count, dtype: int64

In [12]:
filt=usa[usa['state'].isin(['Alaska', 'Hawaii'])]

In [13]:
usa['state'].value_counts()

   Florida                 16032
   California               9617
   Texas                    7744
   Hawaii                   4023
   New York                 3449
   North Carolina           3333
   Georgia                  3216
   Maryland                 2899
   Colorado                 2866
   Pennsylvania             2754
   Tennessee                2754
   Illinois                 2476
   South Carolina           2448
   Ohio                     2396
   Arizona                  2225
   Virginia                 2081
   Michigan                 2000
   Washington               1828
   Oregon                   1824
   Missouri                 1793
   Minnesota                1747
   Massachusetts            1711
   Alabama                  1607
   Wisconsin                1496
   Louisiana                1452
   New Jersey               1437
   Indiana                  1303
   Utah                     1268
   New Mexico               1243
   Mississippi              1093
   Iowa                     1077
   Oklahoma                 1012
   Kentucky                  995
   Arkansas                  889
   Kansas                    882
   Nevada                    666
   Connecticut               635
   Montana                   591
   New Hampshire             557
   Vermont                   506
   Wyoming                   499
   Idaho                     459
   Nebraska                  456
   West Virginia             448
   District of Columbia      447
   South Dakota              434
   Alaska                    412
   Rhode Island              397
   North Dakota              297
   Delaware                  232
 Hawaii County               149
   Maine                      67
   MISSOURI                    1
Name: state, dtype: int64

In [14]:
states_to_drop = ["Hawaii", "Hawaii County", "Alaska"]

usa['state'] = usa['state'].str.strip().str.lower()

# Convert the states to drop to lowercase
states_to_drop = [state.lower() for state in states_to_drop]

# Drop the rows where the 'state' column matches any of the states to drop
usa = usa[~usa['state'].isin(states_to_drop)]

# Reset the index
usa.reset_index(drop=True, inplace=True)

# Display the updated DataFrame

In [15]:
usa['state'].value_counts()

florida                 16032
california               9617
texas                    7744
new york                 3449
north carolina           3333
georgia                  3216
maryland                 2899
colorado                 2866
pennsylvania             2754
tennessee                2754
illinois                 2476
south carolina           2448
ohio                     2396
arizona                  2225
virginia                 2081
michigan                 2000
washington               1828
oregon                   1824
missouri                 1794
minnesota                1747
massachusetts            1711
alabama                  1607
wisconsin                1496
louisiana                1452
new jersey               1437
indiana                  1303
utah                     1268
new mexico               1243
mississippi              1093
iowa                     1077
oklahoma                 1012
kentucky                  995
arkansas                  889
kansas                    882
nevada                    666
connecticut               635
montana                   591
new hampshire             557
vermont                   506
wyoming                   499
idaho                     459
nebraska                  456
west virginia             448
district of columbia      447
south dakota              434
rhode island              397
north dakota              297
delaware                  232
maine                      67
Name: state, dtype: int64

In [16]:
state_to_timezone = {
    'alabama': 'Central', 'alaska': 'Alaska', 'arizona': 'Mountain', 'arkansas': 'Central', 
    'california': 'Pacific', 'colorado': 'Mountain', 'connecticut': 'Eastern', 'delaware': 'Eastern', 
    'district of columbia': 'Eastern', 'florida': 'Eastern', 'georgia': 'Eastern', 'hawaii': 'Hawaii-Aleutian', 
    'idaho': 'Mountain', 'illinois': 'Central', 'indiana': 'Eastern', 'iowa': 'Central', 'kansas': 'Central', 
    'kentucky': 'Eastern', 'louisiana': 'Central', 'maine': 'Eastern', 'maryland': 'Eastern', 
    'massachusetts': 'Eastern', 'michigan': 'Eastern', 'minnesota': 'Central', 'mississippi': 'Central', 
    'missouri': 'Central', 'montana': 'Mountain', 'nebraska': 'Central', 'nevada': 'Pacific', 
    'new hampshire': 'Eastern', 'new jersey': 'Eastern', 'new mexico': 'Mountain', 'new york': 'Eastern', 
    'north carolina': 'Eastern', 'north dakota': 'Central', 'ohio': 'Eastern', 'oklahoma': 'Central', 
    'oregon': 'Pacific', 'pennsylvania': 'Eastern', 'rhode island': 'Eastern', 'south carolina': 'Eastern', 
    'south dakota': 'Central', 'tennessee': 'Central', 'texas': 'Central', 'utah': 'Mountain', 
    'vermont': 'Eastern', 'virginia': 'Eastern', 'washington': 'Pacific', 'west virginia': 'Eastern', 
    'wisconsin': 'Central', 'wyoming': 'Mountain'
}

# Create the timezone column
usa['timezone'] = usa['state'].map(state_to_timezone)

In [17]:
usa['state'].value_counts()

florida                 16032
california               9617
texas                    7744
new york                 3449
north carolina           3333
georgia                  3216
maryland                 2899
colorado                 2866
pennsylvania             2754
tennessee                2754
illinois                 2476
south carolina           2448
ohio                     2396
arizona                  2225
virginia                 2081
michigan                 2000
washington               1828
oregon                   1824
missouri                 1794
minnesota                1747
massachusetts            1711
alabama                  1607
wisconsin                1496
louisiana                1452
new jersey               1437
indiana                  1303
utah                     1268
new mexico               1243
mississippi              1093
iowa                     1077
oklahoma                 1012
kentucky                  995
arkansas                  889
kansas                    882
nevada                    666
connecticut               635
montana                   591
new hampshire             557
vermont                   506
wyoming                   499
idaho                     459
nebraska                  456
west virginia             448
district of columbia      447
south dakota              434
rhode island              397
north dakota              297
delaware                  232
maine                      67
Name: state, dtype: int64

In [18]:
usa['timezone'].value_counts()

Eastern     49343
Central     27210
Pacific     13935
Mountain     9151
Name: timezone, dtype: int64

In [19]:
usa_Central=usa[usa['timezone']=='Central']
usa_Eastern=usa[usa['timezone']=='Eastern']
usa_Pacific=usa[usa['timezone']=='Pacific']
usa_Mountain=usa[usa['timezone']=='Mountain']

usa_Central.head()

# usa_Central.to_csv('usa_Central.csv', index=True)
# usa_Eastern.to_csv('usa_Eastern.csv', index=True)
usa_Pacific.to_csv('usa_Pacific_Master.csv', index=True)
# usa_Mountain.to_csv('usa_Mountain.csv', index=True)

In [20]:
# usa_Eastern.to_csv('usa_Eastern.csv')

In [21]:
# usa_junk=usa[usa.isnull().any(axis=1)]
# usa_junk.head()
# # usa_OneStar.to_csv('usa_OneStar.csv', index=True)
# usa_junk=usa_junk.reset_index(drop=True)
# usa_junk.to_csv('junk.csv',index=True)

In [22]:
usa=usa.dropna()

In [23]:
usa.isnull().sum()

countyName     0
cityName       0
HotelName      0
HotelRating    0
Address        0
Map            0
PhoneNumber    0
state          0
timezone       0
dtype: int64

In [24]:
Central = pd.ExcelWriter('Usa_Central.xlsx', engine='xlsxwriter')
Eastern = pd.ExcelWriter('Usa_Eastern.xlsx', engine='xlsxwriter')
Pacific = pd.ExcelWriter('Usa_Pacific.xlsx', engine='xlsxwriter')
Mountain = pd.ExcelWriter('Usa_Mountain.xlsx', engine='xlsxwriter')

usa_Central=usa[usa['timezone']=='Central']
usa_Eastern=usa[usa['timezone']=='Eastern']
usa_Pacific=usa[usa['timezone']=='Pacific']
usa_Mountain=usa[usa['timezone']=='Mountain']

usa_Central.to_excel(Central, sheet_name='Central Master', index=False)

usa_Eastern.to_excel(Eastern, sheet_name='Eastern Master', index=False)
usa_Pacific.to_excel(Pacific, sheet_name='Pacific Master', index=False)
usa_Mountain.to_excel(Mountain, sheet_name='Mountain Master', index=False)

In [25]:
Central.close()
Eastern.close()

Pacific.close()
Mountain.close()

In [28]:
usa['HotelRating'].value_counts()

HotelRating
TwoStar      46951
ThreeStar    36751
FourStar     10071
All           3733
OneStar       1326
FiveStar       813
Name: count, dtype: int64

In [29]:
usa_Central_1=usa_Central[usa_Central['HotelRating']=='OneStar']
usa_Central_2=usa_Central[usa_Central['HotelRating']=='TwoStar']
usa_Central_3=usa_Central[usa_Central['HotelRating']=='ThreeStar']
usa_Central_4=usa_Central[usa_Central['HotelRating']=='FourStar']
usa_Central_5=usa_Central[usa_Central['HotelRating']=='FiveStar']
usa_Central_all=usa_Central[usa_Central['HotelRating']=='All']

In [30]:
usa_Pacific_1=usa_Pacific[usa_Pacific['HotelRating']=='OneStar']
usa_Pacific_2=usa_Pacific[usa_Pacific['HotelRating']=='TwoStar']
usa_Pacific_3=usa_Pacific[usa_Pacific['HotelRating']=='ThreeStar']
usa_Pacific_4=usa_Pacific[usa_Pacific['HotelRating']=='FourStar']
usa_Pacific_5=usa_Pacific[usa_Pacific['HotelRating']=='FiveStar']
usa_Pacific_all=usa_Pacific[usa_Pacific['HotelRating']=='All']

In [31]:
usa_Mountain_1=usa_Mountain[usa_Mountain['HotelRating']=='OneStar']
usa_Mountain_2=usa_Mountain[usa_Mountain['HotelRating']=='TwoStar']
usa_Mountain_3=usa_Mountain[usa_Mountain['HotelRating']=='ThreeStar']
usa_Mountain_4=usa_Mountain[usa_Mountain['HotelRating']=='FourStar']
usa_Mountain_5=usa_Mountain[usa_Mountain['HotelRating']=='FiveStar']
usa_Mountain_all=usa_Mountain[usa_Mountain['HotelRating']=='All']

In [32]:
# usa_Mountain_1.to_excel(Mountain, sheet_name='star1', index=False)
# usa_Mountain_2.to_excel(Mountain, sheet_name='star2', index=False)
# usa_Mountain_3.to_excel(Mountain, sheet_name='star3', index=False)
# usa_Mountain_4.to_excel(Mountain, sheet_name='star4', index=False)
# usa_Mountain_5.to_excel(Mountain, sheet_name='star5', index=False)
# usa_Mountain_all.to_excel(Mountain, sheet_name='all', index=False)

In [33]:
# Eastern.close()

In [34]:
# Pacific.close()

In [35]:
# Mountain.close()

In [36]:
usa_Central.head()

,countyName,cityName,HotelName,HotelRating,Address,PhoneNumber,state,timezone
0,United States,"Abbeville, Louisiana",Sunbelt Lodge Motel,TwoStar,1903 Veterans Memorial Drive AbbevilleLouisian...,+13378981453,louisiana,Central
1,United States,"Abbeville, Louisiana",Budget Inn & Suites,TwoStar,2115 Charity Street AbbevilleLouisiana 70510,1-337-8989770,louisiana,Central
2,United States,"Abbeville, Louisiana",Best Western Abbeville Inn & Suites,TwoStar,3515 Veterans Memorial Dr Abbeville AbbevilleL...,1-337-740-4100,louisiana,Central
3,United States,"Abbeville, Louisiana",Motel 6 Abbeville LA,TwoStar,3523 Veterans Memorial Drive AbbevilleLouisian...,+1 337 898 3180,louisiana,Central
4,United States,"Abbeville, Louisiana",Days Inn by Wyndham Abbeville,TwoStar,730 Veterans Memorial Dr AbbevilleLouisiana 70...,1-337-7404666,louisiana,Central

In [37]:
usa_Central['state'].value_counts()

state
texas           7744
tennessee       2754
illinois        2476
missouri        1794
minnesota       1747
alabama         1607
wisconsin       1496
louisiana       1452
mississippi     1093
iowa            1077
oklahoma        1012
arkansas         889
kansas           882
nebraska         456
south dakota     434
north dakota     297
Name: count, dtype: int64

In [38]:
usa_Central['HotelRating'].value_counts()

HotelRating
TwoStar      16463
ThreeStar     8049
FourStar      1576
All            607
OneStar        425
FiveStar        90
Name: count, dtype: int64

In [39]:
usa_Eastern['state'].value_counts()

state
florida                 16032
new york                 3449
north carolina           3333
georgia                  3216
maryland                 2899
pennsylvania             2755
south carolina           2448
ohio                     2396
virginia                 2081
michigan                 2000
massachusetts            1711
new jersey               1437
indiana                  1303
kentucky                  995
connecticut               635
new hampshire             557
vermont                   506
west virginia             448
district of columbia      448
rhode island              397
delaware                  232
maine                      67
Name: count, dtype: int64

In [40]:
usa_Pacific['state'].value_counts()

state
california    9620
washington    1828
oregon        1824
nevada         666
Name: count, dtype: int64

In [41]:
usa_Mountain['state'].value_counts()

state
colorado      2867
arizona       2225
utah          1268
new mexico    1243
montana        591
wyoming        499
idaho          459
Name: count, dtype: int64