In [46]:
import pandas as pd

In [47]:
df = pd.read_csv('USA_East_Data_Master.csv')

In [48]:
df.head()

,Property Name,Address,Phone,Phone 2,Phone 3,HotelRating,state,cityName,timezone
0,Georgian Garden Inn,5159 State Route 23 WindhamNew York 12496,203-850-0612,518-898-4079,347-693-0800,FiveStar,new york,"Kingston, New York",Eastern
1,Sea Vista Resort,1701 South Atlantic Avenue New Smyrna BeachFlo...,386-428-2210,800-874-3917,386-428-2195,All,florida,"Daytona Beach, Florida",Eastern
2,Premiere Motor Inn,3218 Atlantic Avenue P.O. Box 96WildwoodNew Je...,609-522-6482,609-729-0050,609-729-0772,ThreeStar,new jersey,"Wildwood, New Jersey",Eastern
3,Olde Town Inn,349 Telfair Street AugustaGeorgia 30901,706-833-9463,706-831-2823,706-828-5600,All,georgia,"Augusta, Georgia",Eastern
4,Sand Castle,20000 Gulf Blvd. Indian ShoresFlorida 33785,727-365-1570,817-528-5003,727-244-4892,ThreeStar,florida,"Indian Shores, Florida",Eastern

In [49]:
unique_states = df['state'].unique()

In [50]:
print(unique_states)

['new york' 'florida' 'new jersey' 'georgia' 'maryland' 'north carolina'
 'michigan' 'virginia' 'indiana' 'west virginia' 'ohio' 'rhode island'
 'massachusetts' 'kentucky' 'district of columbia' 'pennsylvania'
 'vermont' 'new hampshire' 'south carolina' 'connecticut' 'maine'
 'delaware' nan]

In [51]:
states_cleaned = [unique_states.replace(' ', '_') for unique_states in unique_states if pd.notnull(unique_states)]  # Filter out nan

In [52]:
print(states_cleaned)

['new_york', 'florida', 'new_jersey', 'georgia', 'maryland', 'north_carolina', 'michigan', 'virginia', 'indiana', 'west_virginia', 'ohio', 'rhode_island', 'massachusetts', 'kentucky', 'district_of_columbia', 'pennsylvania', 'vermont', 'new_hampshire', 'south_carolina', 'connecticut', 'maine', 'delaware']

In [53]:
state_dfs = {}
for i in range(len(states_cleaned)):
    state_key = states_cleaned[i]
    state_dfs[state_key]=df[df['state']==unique_states[i]].copy()

In [54]:
print(unique_states)

['new york' 'florida' 'new jersey' 'georgia' 'maryland' 'north carolina'
 'michigan' 'virginia' 'indiana' 'west virginia' 'ohio' 'rhode island'
 'massachusetts' 'kentucky' 'district of columbia' 'pennsylvania'
 'vermont' 'new hampshire' 'south carolina' 'connecticut' 'maine'
 'delaware' nan]

In [55]:
unq_hotel= df['HotelRating'].unique()
print(unq_hotel)

['FiveStar' 'All' 'ThreeStar' 'FourStar' 'TwoStar' 'OneStar' nan]

In [56]:
for i in range(1,len(unq_hotel)-1):
    print(unq_hotel[i])

All
ThreeStar
FourStar
TwoStar
OneStar

In [58]:
a=[unq_hotel[0]+'_'+unique_sta2
tes[0]]

In [64]:
hotelRating_states_list={}
state_rat={}
# for state_key, state_df in state_dfs.items():
for index, (key, value) in enumerate(state_dfs.items()):
    unq= state_dfs[key]['HotelRating'].unique()
    for i in range(len(unq)):
        # state_rat.append(key+'_'+unq[i])
        if key not in state_rat:
            state_rat[key] = []
            
        state_rat[key].append(key+'_'+unq[i])
        hotel_key = key+'_'+unq[i]
        hotelRating_states_list[hotel_key]=state_dfs[key][state_dfs[key]['HotelRating']==unq[i]].copy()

In [60]:
hotelRating_states_list['new_york_FiveStar'].head()

,Property Name,Address,Phone,Phone 2,Phone 3,HotelRating,state,cityName,timezone
0,Georgian Garden Inn,5159 State Route 23 WindhamNew York 12496,203-850-0612,518-898-4079,347-693-0800,FiveStar,new york,"Kingston, New York",Eastern
1240,The Knickerbocker,6 Times Square 1466 Broadway10036 New York,212-204-4980,NaN,NaN,FiveStar,new york,"New York, New York",Eastern
1245,Gansevoort Meatpacking,18 9Th Avenue at 13th StreetNew YorkNew York 1...,212-206-6700,NaN,NaN,FiveStar,new york,"New York, New York",Eastern
1261,Crosby Street Hotel,79 Crosby Street New YorkNew York 10012,212-226-6400,NaN,NaN,FiveStar,new york,"New York, New York",Eastern
1269,The Beekman A Thompson Hotel,123 Nassau Street New YorkNew York 10038,212-233-2300,NaN,NaN,FiveStar,new york,"New York, New York",Eastern

In [86]:
Excel_state={}
for i in range(len(states_cleaned)):
    state=states_cleaned[i]
    excel=pd.ExcelWriter(f'{state}.xls',engine='xlsxwriter')
    if state not in Excel_state:
        Excel_state[state] = []
    Excel_state[state].append(excel)
    # Central = pd.ExcelWriter('Usa_Central.xlsx', engine='xlsxwriter')

In [88]:
for index, (key,values) in enumerate(state_rat.items()):
    for value in values:
        hotelRating_states_list[value].to_excel(Excel_state[key][0],sheet_name=value,index=False)
        print(key,value)

new_york new_york_FiveStar
new_york new_york_ThreeStar
new_york new_york_TwoStar
new_york new_york_FourStar
new_york new_york_OneStar
new_york new_york_All
florida florida_All
florida florida_ThreeStar
florida florida_FourStar
florida florida_TwoStar
florida florida_FiveStar
florida florida_OneStar
new_jersey new_jersey_ThreeStar
new_jersey new_jersey_All
new_jersey new_jersey_FourStar
new_jersey new_jersey_TwoStar
new_jersey new_jersey_OneStar
new_jersey new_jersey_FiveStar
georgia georgia_All
georgia georgia_ThreeStar
georgia georgia_TwoStar
georgia georgia_FourStar
georgia georgia_OneStar
georgia georgia_FiveStar
maryland maryland_All
maryland maryland_ThreeStar
maryland maryland_TwoStar
maryland maryland_FourStar
maryland maryland_OneStar
maryland maryland_FiveStar
north_carolina north_carolina_All
north_carolina north_carolina_ThreeStar
north_carolina north_carolina_TwoStar
north_carolina north_carolina_FourStar
north_carolina north_carolina_FiveStar
north_carolina north_carolina_OneStar
michigan michigan_FourStar
michigan michigan_ThreeStar
michigan michigan_TwoStar
michigan michigan_All
michigan michigan_OneStar
michigan michigan_FiveStar
virginia virginia_FourStar
virginia virginia_All
virginia virginia_TwoStar
virginia virginia_ThreeStar
virginia virginia_OneStar
virginia virginia_FiveStar
indiana indiana_ThreeStar
indiana indiana_TwoStar
indiana indiana_OneStar
indiana indiana_FourStar
indiana indiana_All
indiana indiana_FiveStar
west_virginia west_virginia_TwoStar
west_virginia west_virginia_FourStar
west_virginia west_virginia_ThreeStar
west_virginia west_virginia_OneStar
west_virginia west_virginia_All
west_virginia west_virginia_FiveStar
ohio ohio_ThreeStar
ohio ohio_All
ohio ohio_TwoStar
ohio ohio_FourStar
ohio ohio_FiveStar
ohio ohio_OneStar
rhode_island rhode_island_All
rhode_island rhode_island_ThreeStar
rhode_island rhode_island_TwoStar
rhode_island rhode_island_FiveStar
rhode_island rhode_island_FourStar
rhode_island rhode_island_OneStar
massachusetts massachusetts_All
massachusetts massachusetts_FiveStar
massachusetts massachusetts_TwoStar
massachusetts massachusetts_ThreeStar
massachusetts massachusetts_FourStar
massachusetts massachusetts_OneStar
kentucky kentucky_ThreeStar
kentucky kentucky_TwoStar
kentucky kentucky_FiveStar
kentucky kentucky_FourStar
kentucky kentucky_All
kentucky kentucky_OneStar
district_of_columbia district_of_columbia_All
district_of_columbia district_of_columbia_ThreeStar
district_of_columbia district_of_columbia_FourStar
district_of_columbia district_of_columbia_TwoStar
district_of_columbia district_of_columbia_FiveStar
district_of_columbia district_of_columbia_OneStar
pennsylvania pennsylvania_ThreeStar
pennsylvania pennsylvania_TwoStar
pennsylvania pennsylvania_FourStar
pennsylvania pennsylvania_All
pennsylvania pennsylvania_FiveStar
pennsylvania pennsylvania_OneStar
vermont vermont_ThreeStar
vermont vermont_TwoStar
vermont vermont_FourStar
vermont vermont_All
vermont vermont_FiveStar
vermont vermont_OneStar
new_hampshire new_hampshire_ThreeStar
new_hampshire new_hampshire_TwoStar
new_hampshire new_hampshire_All
new_hampshire new_hampshire_FourStar
new_hampshire new_hampshire_FiveStar
new_hampshire new_hampshire_OneStar
south_carolina south_carolina_TwoStar
south_carolina south_carolina_ThreeStar
south_carolina south_carolina_All
south_carolina south_carolina_FiveStar
south_carolina south_carolina_FourStar
south_carolina south_carolina_OneStar
connecticut connecticut_TwoStar
connecticut connecticut_ThreeStar
connecticut connecticut_FourStar
connecticut connecticut_All
connecticut connecticut_OneStar
connecticut connecticut_FiveStar
maine maine_ThreeStar
maine maine_TwoStar
maine maine_FourStar
maine maine_All
maine maine_OneStar
maine maine_FiveStar
delaware delaware_TwoStar
delaware delaware_FourStar
delaware delaware_ThreeStar
delaware delaware_All

In [93]:
for values in Excel_state.values():
    values[0].close()

In [81]:
print(states_cleaned)

['new_york', 'florida', 'new_jersey', 'georgia', 'maryland', 'north_carolina', 'michigan', 'virginia', 'indiana', 'west_virginia', 'ohio', 'rhode_island', 'massachusetts', 'kentucky', 'district_of_columbia', 'pennsylvania', 'vermont', 'new_hampshire', 'south_carolina', 'connecticut', 'maine', 'delaware']